.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.wrapper {
    background-color: burlywood;
}

.buttons-container {
    display: flex;
    flex-direction: row;
}

.button-container {
    display: flex;
    flex-direction: column;
}